.rdl-layout {
  .rdl-container {
    outline: 1px solid black;
    background: whitesmoke;
    position: relative;
  }

  &.rdl-row {
    .rdl-container {
      width: 100%;
    }
  }

  &.rdl-column {
    .rdl-container {
      height: 100%;
      float: left;
    }
  }
}
