
.rdl-black
  .rdl-layout
    .rdl-float
      border-radius: float-border-radius
      border: float-border
      .rdl-resize-bar
        position: absolute
        z-index: 1;
        &.active, &:hover
          background: hover-drag-color;