.rdl-dark {
  .rdl-layout {
    .rdl-float {
      border-radius: var(--float-border-radius);
      border: var(--float-border);

      .rdl-resize-bar {
        position: absolute;
        z-index: 1;

        &.active,
        &:hover {
          background: var(--hover-drag-color);
        }
      }

      .rdl-drag-bar .close {
        color: var(--font-disable-color);

        &:hover {
          color: var(--font-color);
        }
      }
    }
  }
}
