.rdl-black
  .rdl-container
    .rdl-stack
      .rdl-tabs
        background: stack-background-color
        color: font-disable-color
        .rdl-tab
          &.active
            background: active-tab-background-color
            color: font-color
      .rdl-body
        background: stack-body-background-color

.rdl-hidden-z-index
  .rdl-item-body
    background: stack-body-background-color
    z-index: 1
    &.active
      z-index: 2