
height-tabs = 20px

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

drag-hover-color = rgba(0, 0, 0, 0.5);

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root
  position: absolute
  width: 100%;
  height: 100%;

.layout
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  // dividers
  .divider-column, .divider-row
    position: relative;
    z-index: 2;
    .divider-content
      position: absolute;
      &:hover, &.active
        background: drag-hover-color;
  .divider-column
    height: 100%;
    width: 0px;
    float: left;
    .divider-content
      top: 0px;
      left: -3.5px;
      width: 8px;
      height: 100%;
      cursor: ew-resize;
  .divider-row
    height: 0px;
    width: 100%;
    .divider-content
      top: -4px;
      left: 0px;
      height: 8px;
      width: 100%;
      cursor: ns-resize;
  .stack
    position: relative;
    border: 1px solid black;
    &.no-tabs
      &> .tab-body
        height: 100%;
    .content-tabs
      height: height-tabs;
      width: 100%
      .tab
        cursor pointer
        font bold 12px sans-serif
        float: left;
        padding: 0 5px
        border-left: 1px solid black;
        &.active
          background: gray
    .tab-body
      height: calc(100% - height-tabs);
      position: relative;
      width: 100%;
      display: none
      &.active
        display: block
  // items 
  .float
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: 1px solid gray
    position: absolute
    .content-float
      position: relative;
      width: 100%;
      height: calc(100% - 15px);
    .drag-bar
      height: 15px;
      width: 100%;
      cursor: move;
      background-image: -webkit-linear-gradient(rgb(66, 66, 66) 0%, rgb(48, 48, 48) 100%)
      background-image: -o-linear-gradient(rgb(66, 66, 66) 0%, rgb(48, 48, 48) 100%)
      background-image: linear-gradient(rgb(66, 66, 66) 0%, rgb(48, 48, 48) 100%)
    .resize-bar
      position: absolute
      &.active, &:hover
        background: drag-hover-color;
      &.north, &.south
        cursor: ns-resize;
      &.east, &.west
        cursor: ew-resize;
      &.north
        width: 100%;
        height: 8px;
        top: -4px;
        left: 0;
      &.south
        width: 100%;
        height: 8px;
        bottom: -4px;
        left: 0;
      &.west
        left: -4px;
        width: 8px;
        height: 100%;
        top: 0;
      &.east
        right: -4px;
        width: 8px;
        height: 100%;
        top: 0;
      &.north-west, &.north-east, &.south-west, &.south-east
        width: 8px;
        height: 8px;
      &.north-west
        cursor: nw-resize;
        left: -4px;
        top: -4px;
      &.north-east
        cursor: ne-resize;
        right: -4px;
        top: -4px;
      &.south-west
        cursor: sw-resize;
        left: -4px;
        bottom: -4px;
      &.south-east
        cursor: se-resize
        right: -4px;
        bottom: -4px;
  .row
    width: 100%;
  .column
    height: 100%;
    float: left;

@import './style/index.styl';